@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*--my styling starts here--*/
.profile-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h4 {
  font-family: Poppins, 'sans-serif', "Droid Sans", BlinkMacSystemFont ;
  padding: 5px;
  margin: 2px;
  font-size: 36px;
}

.icon {
  color:black;
  margin-top: 10px;
  width: 400px;
}

.blog-paper, .video-paper, .podcast-paper {
  border-radius: 5px;
  border: 1px solid black;
  height: 150px;
  box-shadow: 10px 6px 6px brown;
}

.blog-paper {
  background-color: green;
  border: 2px solid black;
}

.welcome-text {
  font-size: 25px;
}